@model IEnumerable<Ferreteria_Frontend.Models.MunicipioViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            <div class="list-product-header">
                <div class="light-box"></div>
                    <button type="button" class="btn btn-rounded btn-outline-primary btn-md" id="ModalNuevo"><i class="fa fa-plus"></i> Insertar municipio</a></button>
            </div>
            <div class="list-product list-category">
                <table class="table table-striped table-bordered" id="tablaIndex">
                    <thead>
                        <tr>
                            <th style="width:10%">
                                Acciones
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Muni_Codigo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Muni_Descripcion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Depa_Codigo)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                @foreach (var item in Model) {
                        <tr>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Acciones</button>
                                    <ul class="dropdown-menu dropdown-block" style="">
                                        <a class="dropdown-item" href="javascript:void(0);" onclick="editar('@item.Muni_Codigo')">
                                            <i class="fa fa-edit"></i> Editar
                                        </a>
                                        <a asp-action="Details" asp-route-id="@item.Muni_Codigo" class="dropdown-item">
                                        <i class="fas fa-info"></i> Detalles</a>
                                        <a class="dropdown-item" href="javascript:void(0);" onclick="eliminar('@item.Muni_Codigo')">
                                            <i class="fa fa-edit"></i> Eliminar
                                        </a>
                                        
                                    </ul>
                                </div>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Muni_Codigo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Muni_Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Depa_Codigo)
                            </td>
                        </tr>
                }
                    </tbody>
                </table>
            </div>
        </div>
</div>

<div class="modal fade modal-bookmark" tabindex="-1" role="dialog" id="modalInsertar">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Insertar un municipio</h5>
            </div>
            <div class="modal-body p-0">
                    <partial name="_Create" model="new Ferreteria_Frontend.Models.MunicipioViewModel()" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-bookmark" tabindex="-1" role="dialog" id="modalEditar">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar un municipio</h5>
            </div>
            <div class="modal-body p-0" id="modalBody">
                    <partial name="_Edit" model="new Ferreteria_Frontend.Models.MunicipioViewModel()" />
            </div>
        </div>
    </div>
</div>
</div>

<script src="~/js/jquery.min.js"></script>
<script src="~/js/sweet-alert/sweetalert.min.js"></script>
<script src="~/js/js-datatables/simple-datatables@latest.js"></script>
<script src="~/js/datatable/datatables/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function(){
        $("#tablaIndex").DataTable();
    });
      //modal abrir
    $("#ModalNuevo").click(function () {
       $("#modalInsertar").modal({ backdrop: 'static', keyboard: false });
       $("#modalInsertar").modal('show');
     });
        
      $("#btnCerrarCrear").click(function() {
        $("#modalInsertar").modal('hide');
        location.reload();
      });
        

    //modal editar
    function editar(id){
        var url = "/Municipios/Edit/" + id;
        $("#modalBody").load(url, function () {
           $("#modalEditar").modal({ backdrop: 'static', keyboard: false });
            $("#modalEditar").modal('show');
        });
    }

	//eliminar
    function eliminar(id) {
        localStorage.setItem("Muni_Codigo", id);
            swal({
                icon : "error",
                title: 'Eliminar',
                text: "¿Deseas eliminar este registro?",
                type: 'warning',
                buttons:{
                    confirm: {
                        text : 'Si, eliminar',
                        className : 'btn btn-danger'
                    },
                    cancel: {
                        visible: true,
                        className: 'btn btn-danger btn-border'
                    }
                }
            }).then((Delete) => {
                if (Delete) {
                    var id = localStorage.getItem("Muni_Codigo");
                    var url = "/Municipios/Delete/" + id;
                    location.href = url;
                } else {
                    swal.close();
                }
            });
    }
    
 
       $(document).on('click', '#btnCerrarEditar', function() {
        $("#modalEditar").modal('hide');
    });
</script>
