@model Ferreteria_Frontend.Models.ProveedoresViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Context.Session.SetString("titulo", "Proveedores");
}
<div class="col-sm-12">
<div class="card">
    <div class="card-header" style="display:flex; justify-content:space-between">
        <h1>Detalles</h1>
        <div>
            <a asp-action="Index" class="btn btn-warning" disable="disable">Volver</a>
        </div>
    </div>
    <div class="card-body">
        <dl class="row">
            <div class="col-sm-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Prov_Nombre)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Prov_Nombre)
                </dd>
            </div>
            <div class="col-sm-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Prov_Contacto)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Prov_Contacto)
                </dd>
            </div>
        </dl>
        <dl class="row">
            <div class="col-sm-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Municipio)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Municipio)
                </dd>
            </div>
            <div class="col-sm-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Prov_DireccionExacta)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Prov_DireccionExacta)
                </dd>
            </div>
        </dl>
    </div>
</div>
<div class="row"></div>
<div class="card">
    <div class="card-header">
        <h3>Auditoria</h3>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Accion</th>
                    <th>Usuario</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Creacion</th>
                    <td>@Html.DisplayFor(model => model.UsuarioCreacion)</td>
                    <td>@Html.DisplayFor(model => model.Feca_Creacion)</td>
                </tr>
                <tr>
                    <th>Modificacion</th>
                    <td>@Html.DisplayFor(model => model.UsuarioModificacion)</td>
                    <td>@Html.DisplayFor(model => model.Feca_Modificacion)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
