@model IEnumerable<DepartamentoViewModel>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <p class="mb-0">
            <button type="button" class="secondary-button mx-2" data-dismiss="modal" id="crear">
                <span>
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path fill="currentColor" d="M12 5v14M5 12h14" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    Nuevo
                </span>
            </button>
        </p>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered" id="tablaIndex">
                <thead>
                    <tr>
                        <th style="width:10%">
                            Acciones
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Depa_Codigo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Depa_Descripcion)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-cogs"></i> Acciones
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <!--Button para edit-->
                                        <button class="btn btn-outline-warning" data-id="@item.Depa_Codigo" onclick="edit('@item.Depa_Codigo')" style="width:100%">
                                            <i class="fas fa-pencil-alt"></i> Editar
                                        </button>
                                        <a asp-action="Details" asp-route-id="@item.Depa_Codigo" class="btn btn-outline-info" style="width:100%">
                                            <i class="fas fa-info"></i> Detalles
                                        </a>
                                        <button class="btn btn-outline-danger" onclick="eliminar('@item.Depa_Codigo')" style="width:100%">
                                            <i class="fas fa-trash-alt"></i> Eliminar
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Depa_Codigo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Depa_Descripcion)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
