@model IEnumerable<DepartamentoViewModel>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* <div class="card">
    <div class="card-header">
        <p class="mb-0">
            <button type="button" class="secondary-button mx-2" data-dismiss="modal" id="crear">
                <span>
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path fill="currentColor" d="M12 5v14M5 12h14" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    Nuevo
                </span>
            </button>
        </p>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered" id="tablaIndex">
                <thead>
                    <tr>
                        <th style="width:10%">
                            Acciones
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Depa_Codigo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Depa_Descripcion)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-cogs"></i> Acciones
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <!--Button para edit-->
                                        <button class="btn btn-outline-warning" data-id="@item.Depa_Codigo" onclick="edit('@item.Depa_Codigo')" style="width:100%">
                                            <i class="fas fa-pencil-alt"></i> Editar
                                        </button>
                                        <a asp-action="Details" asp-route-id="@item.Depa_Codigo" class="btn btn-outline-info" style="width:100%">
                                            <i class="fas fa-info"></i> Detalles
                                        </a>
                                        <button class="btn btn-outline-danger" onclick="eliminar('@item.Depa_Codigo')" style="width:100%">
                                            <i class="fas fa-trash-alt"></i> Eliminar
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Depa_Codigo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Depa_Descripcion)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
 *@



@* <div class="accordion" id="accordionDepartamentos">
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-header" id="heading-@item.Depa_Codigo">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-@item.Depa_Codigo" aria-expanded="true" aria-controls="collapse-@item.Depa_Codigo">
                        @Html.DisplayFor(modelItem => item.Depa_Descripcion)
                    </button>
                </h2>
            </div>

            <div id="collapse-@item.Depa_Codigo" class="collapse" aria-labelledby="heading-@item.Depa_Codigo" data-parent="#accordionDepartamentos">
                <div class="card-body">
                    <p><strong>Código:</strong> @Html.DisplayFor(modelItem => item.Depa_Codigo)</p>
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-warning" onclick="edit('@item.Depa_Codigo')">
                            <i class="fas fa-pencil-alt"></i> Editar
                        </button>
                        <a asp-action="Details" asp-route-id="@item.Depa_Codigo" class="btn btn-info">
                            <i class="fas fa-info"></i> Detalles
                        </a>
                        <button class="btn btn-danger" onclick="eliminar('@item.Depa_Codigo')">
                            <i class="fas fa-trash-alt"></i> Eliminar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
 *@




<div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            <div class="list-product-header">
                <div>
                    <div class="light-box"></div>
                    <button type="button" class="btn btn-rounded btn-outline-primary btn-md" id="ModalNuevo"><i class="fa fa-plus"></i> Agregar Departamento</a></button>
                    @* <a class="btn btn-rounded btn-outline-primary btn-md" type="button" data-bs-toggle="modal" data-bs-target="#modalInsertar" data-backdrop="static" data-keyboard="false" >
                        <i class="fa fa-plus"></i>Agregar Departamento</a>*@
                </div>
                <div class="collapse" id="collapseProduct">
                    <div class="card card-body list-product-body">
                        <div class="row row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-2 g-3">
                            <div class="col">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected="">Choose Product</option>
                                    <option value="1">Apple iphone 13 Pro</option>
                                    <option value="2">Wood Chair</option>
                                    <option value="3">M185 Compact Wireless Mouse</option>
                                </select>
                            </div>
                            <div class="col">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected="">Choose Category</option>
                                    <option value="1">Furniture</option>
                                    <option value="2">Smart Gadgets</option>
                                    <option value="3">Electrics</option>
                                </select>
                            </div>
                            <div class="col">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected="">Choose Sub Category</option>
                                    <option value="1">Smart Phones</option>
                                    <option value="2">Smart Watches</option>
                                    <option value="3">Wireless headphone</option>
                                </select>
                            </div>
                            <div class="col">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected="">Status</option>
                                    <option value="1">Sold Out </option>
                                    <option value="2">In Stock</option>
                                    <option value="3">Pre Order</option>
                                    <option value="4">Limited Stock </option>
                                </select>
                            </div>
                            <div class="col">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected="">Price</option>
                                    <option value="1">56000.00</option>
                                    <option value="2">19000.00</option>
                                    <option value="3">10000.00</option>
                                    <option value="3">15000.00</option>
                                    <option value="3">99000.00</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-product list-category">
                <table class="table table-bordered table-striped" id="tablaIndex">
                    <thead>
                        <tr>
                            <th> <span class="f-light f-w-600">Acciones</span></th>
                            <th> <span class="f-light f-w-600">Codigo</span></th>
                            <th> <span class="f-light f-w-600">Descripcion</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model){
                            <tr class="product-removes">
                                <td>
                                    <div class="btn-group">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Dashboard</button>
                                        <ul class="dropdown-menu dropdown-block" style="">
                                            <li><a class="dropdown-item" href="#">Project</a></li>
                                            <li><a class="dropdown-item" href="#">Ecommerce</a></li>
                                            <li><a class="dropdown-item" href="#">Crypto</a></li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <div class="product-names">
                                        <p>@Html.DisplayFor(modelItem => item.Depa_Codigo)</p>
                                    </div>
                                </td>
                                <td>
                                    <p class="f-light">@Html.DisplayFor(modelItem => item.Depa_Descripcion)</p>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <div class="modal fade modal-bookmark" id="modalInsertar" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static"  aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Insertar un departamento</h5>
                </div>
                <div class="modal-body">
                    <partial name="_Create" model="new Ferreteria_Frontend.Models.DepartamentoViewModel()"/>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade modal-bookmark" id="modalEditar" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Editar un departamento</h5>
                </div>
                <div class="modal-body">
                    <partial name="_Edit" model="new Ferreteria_Frontend.Models.DepartamentoViewModel()" />
                </div>
            </div>
        </div>
    </div>

</div>




@* <link rel="stylesheet" type="text/css" href="~/css/vendors/js-datatables/style.css"> *@

<script src="~/js/jquery.min.js"></script>
<script src="~/js/js-datatables/simple-datatables@latest.js"></script>
<script src="~/js/datatable/datatables/jquery.dataTables.min.js"></script>


@* <script src="~/js/datatable/datatable/datatables/datatable.custom.js"></script>
<script src="~/js/datatable/datatable-extension/dataTables.buttons.min.js"></script>
<script src="~/js/datatable/datatable-extension/jszip.min.js"></script>
<script src="~/js/datatable/datatable-extension/pdfmake.min.js"></script>
<script src="~/js/datatable/datatable-extension/vfs_fonts.js"></script>
<script src="~/js/datatable/datatable-extension/dataTables.autoFill.min.js"></script>
<script src="~/js/datatable/datatable-extension/dataTables.select.min.js"></script>
<script src="~/js/datatable/datatable-extension/buttons.print.min.js"></script>
<script src="~/js/datatable/datatable-extension/buttons.html5.min.js"></script>
<script src="~/js/datatable/datatable-extension/dataTables.bootstrap4.min.js"></script>
<script src="~/js/datatable/datatable-extension/dataTables.responsive.min.js"></script>
<script src="~/js/datatable/datatable-extension/responsive.bootstrap4.min.js"></script>
<script src="~/js/datatable/datatable-extension/dataTables.keyTable.min.js"></script>
<script src="~/js/datatable/datatable-extension/custom.js"></script> *@

<script>
    $(document).ready(function(){
        $('#tablaIndex').DataTable();
    });

    $("#ModalNuevo").click(function () {
        $("#modalInsertar").modal({ backdrop: 'static', keyboard: false });
        $("#modalInsertar").modal('show');
    });

    $("#btnModalEditar").click(function () {
        $("#modalEditar").modal({ backdrop: 'static', keyboard: false });
        $("#modalEditar").modal('show');
    });
        

    $("#btnCerrar").click(function() {
        $("#modalInsertar").modal('hide');
    });
</script>