@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<UsuarioViewModel>

<style>
	/* From Uiverse.io by alexmaracinaru */
	.card-user {
		width: 190px;
		height: 254px;
		background: #3405a3;
		border-radius: 15px;
		box-shadow: 1px 5px 60px 0px #100a886b;
		margin-right: 15px;
		margin-bottom: 15px;
	}

	.card-user .card-border-top {
	width: 60%;
	height: 3%;
	background: #6b64f3;
	margin: auto;
	border-radius: 0px 0px 15px 15px;
	}

	.card-user .text {
	font-weight: 600;
	color: white;
	text-align: center;
	display: block;
	padding-top: 10px;
	font-size: 16px;
	}

	.card-user .job {
	font-weight: 400;
	color: white;
	display: block;
	text-align: center;
	padding-top: 3px;
	font-size: 12px;
	}

	.card-user .img {
	width: 70px;
	height: 80px;
	background: #6b64f3;
	border-radius: 15px;
	margin: auto;
	margin-top: 15px;
	}

	.card-user button {
		padding: 8px 20px;
		display: block;
		margin: auto;
		border-radius: 8px;
		border: none;
		margin-top: 5px;
		background: #6b64f3;
		color: white;
		font-weight: 600;
		font-size: 12px;
	}

	.card-user button:hover {
	background: #534bf3;
	}
</style>



<div class="col-sm-12">
	<div class="card">
		<div class="card-header">
			<div class="list-product-header d-flex justify-content-start ">
				<button type="button" class="btn btn-rounded btn-outline-primary btn-md" id="ModalNuevo"><i class="fa fa-plus"></i> Agregar usuario</a></button>
			</div>
		</div>
		<div class="card-body d-flex flex-sm-wrap justify-content-between">

			@foreach (var item in Model)
			{
				<div class="card-user">
					<div class="card-border-top">
					</div>
					<div class="img">
					</div>
					@* <div class="status d-flex justify-content-center">
						<span id="estado-@item.Usua_Id" class="badge rounded-pill @(item.Usua_Estado ? "badge-success" : "badge-danger") mt-3">
							@(item.Usua_Estado ? true : false)
						</span>
					</div> *@
					<div class="status d-flex justify-content-center">
						@if (item.Usua_Estado == false)
						{
							<span class="badge rounded-pill badge-danger mt-3">Inactivo</span>
						}
						else
						{
							<span class="badge rounded-pill badge-success mt-3">Activo</span>
						}
					</div>
					<span class="text">@Html.DisplayFor(modelItem => item.Usua_Nombre)</span>
					<p class="job mb-0">@Html.DisplayFor(modelItem => item.Role_Descripcion)</p>
					<button data-bs-toggle="dropdown" aria-expanded="false" type="button">
						Acciones
					</button>
					<ul class="dropdown-menu dropdown-block" style="">
						<a class="dropdown-item" href="javascript:void(0);" onclick="editar(@item.Usua_Id)">
							<i class="fa fa-edit"></i> Editar
						</a>
						<a class="dropdown-item" href="javascript:void(0);" onclick="toggleEstado(@item.Usua_Id, @item.Usua_Estado)">
							<i class="fa @(item.Usua_Estado == true ? "fa-toggle-on" : "fa-toggle-off")"></i>
							@(item.Usua_Estado == true ? "Desactivar" : "Activar")
						</a>
						<a class="dropdown-item" href="javascript:void(0);" onclick="restablecer(@item.Usua_Id)">
							<i class="fa fa-lock"></i> Restablecer contraseña
						</a>
						<a class="dropdown-item" asp-action="Details" asp-route-id="@item.Usua_Id">
							<i class="fa fa-info-circle"></i> Detalles
						</a>
					</ul>
				</div>
			}
		</div>
	</div>
	<div class="modal fade modal-bookmark" id="modalInsertar" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" aria-hidden="true">
		<div class="modal-dialog modal-md" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Insertar un departamento</h5>
				</div>
				<div class="modal-body p-0">
					<partial name="_Create" model="new Ferreteria_Frontend.Models.UsuarioViewModel()" />
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade modal-bookmark" id="modalEditar" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" aria-hidden="true">
		<div class="modal-dialog modal-md" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Editar un departamento</h5>
				</div>
				<div class="modal-body p-0" id="modalBody">
					<partial name="_Edit" model="new Ferreteria_Frontend.Models.UsuarioViewModel()" />
				</div>
			</div>
		</div>
	</div>


	<div class="modal fade modal-bookmark" id="modalRestablecer" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" aria-hidden="true">
		<div class="modal-dialog modal-md" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Restablecer contraseña</h5>
				</div>
				<div class="modal-body p-0" id="modalBody">
					<partial name="_Restablecer" model="new Ferreteria_Frontend.Models.UsuarioViewModel()" />
				</div>
			</div>
		</div>
	</div>

</div>




<script src="~/js/jquery.min.js"></script>
<script src="~/js/sweet-alert/sweetalert.min.js"></script>
<script src="~/js/js-datatables/simple-datatables@latest.js"></script>
<script src="~/js/datatable/datatables/jquery.dataTables.min.js"></script>

@if (TempData["MensajeExito"] != null)
{
	<script>
		swal({
			title: "¡Éxito!",
			text: "@TempData["MensajeExito"]",
			icon: "success",
			buttons: {
				confirm: {
					className : 'btn btn-success'
				}
			},
		});
	</script>
}

<script>

		


	$("#ModalNuevo").click(function () {
		$("#modalInsertar").modal({ backdrop: 'static', keyboard: false });
		$("#modalInsertar").modal('show');
	});

	$("#btnCerrarCrear").click(function() {
		$("#modalInsertar").modal('hide');
		location.reload();
	});

	$("#btnCerrarRestablecer").click(function() {
		$("#modalRestablecer").modal('hide');
		location.reload();
	});


	function restablecer(id){
		var url = "/Usuarios/RestablecerClave/" + id;
		$("#modalBody").load(url, function(){
			$("#modalRestablecer").modal({ backdrop: 'static', keyboard: false });
			$("#modalRestablecer").modal("show");
		});
	}

	function editar(id) {
		var url = '/Usuarios/Edit/' + id;
		$("#modalBody").load(url, function () {
			$("#modalEditar").modal({ backdrop: 'static', keyboard: false });
			$("#modalEditar").modal('show');
		});
	}

	$(document).on('click', '#btnCerrarEditar', function() {
		$("#modalEditar").modal('hide');
	});

	function eliminar(id){
		localStorage.setItem("Role_Id", id);
		swal({
			icon:"error",
			title:'Eliminar',
			text: "¿Deseas eliminar este registro?",
			type:'warning',
			buttons:{
				confirm:{
					text:'Si, eliminar',
					className: 'btn btn-danger'
				},
				cancel:{
					visible: true,
					className: 'btn btn-danger btn-outline text-danger bg-white'
				}
			}
		}).then((Delete) => {
			if(Delete){
				var id = localStorage.getItem("Role_Id");
				var url = "/Roles/Delete/"+id;
				location.href = url;
			}
			else{
				swal.close();
			}
		})
	}






</script>