@model Ferreteria_Frontend.Models.EmpleadoViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-sm-12">
<div class="card">
    <div class="card-header" style="display:flex; justify-content:space-between">
        <h1>Detalles</h1>
        <div>
            <a asp-action="Index" class="btn btn-warning" disable="disable">Volver</a>
        </div>
    </div>
    <div class="card-body">
        <dl class="row">
            <div class="col-sm-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Empl_DNI)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Empl_DNI)
                </dd>
            </div>
            <div class="col-sm-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Empl_Nombre)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Empl_Nombre)
                </dd>
            </div>
        </dl>
        <dl class="row">
            <div class="col-sm-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Empl_Apellido)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Empl_Apellido)
                </dd>
            </div>
            <div class="col-sm-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Empl_Sexo)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Empl_Sexo)
                </dd>
            </div>
            <div class="col-sm-4">
                <dt>
                    @Html.DisplayNameFor(model => model.EsCv_Id)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.EsCv_Id)
                </dd>
            </div>
        </dl>
        <dl class="row">
            <div class="col-sm-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Carg_Id)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Carg_Id)
                </dd>
            </div>
            <div class="col-sm-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Muni_Codigo)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Muni_Codigo)
                </dd>
            </div>
            <div class="col-sm-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Empl_Direccion)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Empl_Direccion)
                </dd>
            </div>
        </dl>
        <dl class="row">
        </dl>
    </div>
</div>
<div class="row"></div>
<div class="card">
    <div class="card-header">
        <h3>Auditoria</h3>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Accion</th>
                    <th>Usuario</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Creacion</th>
                    <td>@Html.DisplayFor(model => model.UsuaC_Nombre)</td>
                    <td>@Html.DisplayFor(model => model.Feca_Creacion)</td>
                </tr>
                <tr>
                    <th>Modificacion</th>
                    <td>@Html.DisplayFor(model => model.UsuaM_Nombre)</td>
                    <td>@Html.DisplayFor(model => model.Feca_Modificacion)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
